 
body {
    background-image:url("kanban.jpg");
    margin: 50px;
    color: white
  }

  .error{
    color: red
  }

  .register{
    width: 60%
  }

  .login{
    width: 60%;
  }

  .kanban-layout {
    margin: 20px;
    padding: 20px
  }

  .tombol {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }

  .kanban { 
      display: inline-flex;
      justify-content: space-around;
      border-radius: 5px;
      padding-top: 2rem;
      width : 100%
  }

  .box-container {
    background-color: #bdbebf;
    color: #f0f1f5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 250px;
    overflow: auto;
    font-size: 24px;
  }

  header {
    text-align: center;
    color:black;
    font-weight: bold;
  }

  .box-task {
      padding: 8px;
      display: flex;
      flex-direction: column;
      min-height: 100px;
  }

  .card{
    background-color: white;
    color:#2e2d28;
    border-radius: 8px;
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column
  }

  .content{
    text-align: center;
    font-size: 16px;
    margin: 4px;
    color: black;
    font-weight: 600;
  }

  .subcontent{
    text-align: left;
    font-size: 14px;
    margin: 4px
  }

  .button{
    display: flex;
    flex-direction: row;
    justify-content:space-around
  }

  footer {
      text-align: center;
  }

  .el-form {
      font-weight: bold;
      margin-top: 10px;
  }
