 
body {
    background-color: white;
    margin: 50px;
  }

  .error{
    color: red
  }

  .kanban-layout {
    background-color:#2261a1;
    height: 1000px;
    width : 100%
  }

  .logout {
    text-align: center;
    padding-top: 20px;
  }

  .kanban {
      background-color: #2261a1;
      display: inline-flex;
      justify-content: space-around;
      border-radius: 5px;
      padding-top: 2rem;
      width : 100%
  }

  .box-container {
    background-color: #bdbebf;
    color: #f0f1f5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
    width: 300px;
    overflow: auto;
    font-size: 24px;
  }

  header {
    text-align: center;
    color:black;
    font-weight: bold;
  }

  .box-task {
      padding: 4px;
      display: flex;
      flex-direction: column;
  }

  .card{
    background-color: white;
    color: grey;
    border-radius: 4px;
    margin-top: 5px;
    padding-top: 5px;
  }

  footer {
      text-align: center;
  }